<div class="container">
  <nav class="navbar navbar-light">
    <a href="/" class="navbar-brand">
      <img
        src="/assets/brand/brand.png"
        alt="Oz Lustig | Full stack Developer"
        class="image mx-auto d-block"
      />
    </a>
    <div class="navbar-nav" id="navbarNavAltMarkup">
      <div class="btn-group mx-auto">
        <a class="btn btn-link" href="https://github.com/OzLustig/resumeApp">Visit me on GitHub</a>
        <button
          type="button white-text"
          class="button is-rounded say-hello-button"
          routerLink="/say-hello"
          routerLinkActive="active"
        >
          Say Hello
          <!-- <a class="white-text" routerLink="/say-hello" routerLinkActive="active">Say Hello</a> -->
        </button>
      </div>
    </div>
  </nav>
</div>
